<div th:fragment="filmsBlock">
    <div style="text-align: center; padding-bottom: 50px">
        <h1>Смотрите сегодня</h1>
    </div>
    <div class="row">
        <div class="col-lg-3" style="text-align: center;"  th:each="us,i:${filmsNow}">
            <img th:src="${us.img}" style="height: 280px;width: 200px">
            <h1 th:text="${us.name}">Film</h1>
            <button type="button" class="btn btn-outline-success">Купить билет</button>
            <div th:if="${(i.index + 1) % 4 == 0}"><br></div>
        </div>
    </div>
    <div style="text-align: center;padding-bottom: 50px;padding-top: 200px">
        <h1>Смотрите скоро</h1>
    </div>
    <div class="row">
        <div class="col-lg-3" style="text-align: center;"  th:each="us,i:${filmsSoon}">
            <img th:src="${us.img}" style="height: 280px;width: 200px">
            <h1 th:text="${us.name}">Film</h1>
            <h5 style="color: green">Скоро</h5>
            <div th:if="${(i.index + 1) % 4 == 0}"><br></div>
        </div>
    </div>
</div>