<head>
    <link rel="stylesheet" href="../css/stylesEndPage.css">
</head>
<div th:fragment="endPage">
    <div style="text-align: center">
        <svg width="899" height="2" x="0" y="0" class="stencil--easier-to-select" style="opacity: 1;">
            <defs>
                <marker id="StartMarkera3d2f4837-4acbd782" viewBox="0 0 10 10" refX="3" refY="5"
                        markerUnits="strokeWidth" markerWidth="4" markerHeight="3" orient="auto">
                    <path d="M10,10V0L0,5L10,10z" fill="#000000"></path>
                </marker>
                <marker id="EndMarkera3d2f4837-4acbd782" viewBox="0 0 10 10" refX="7" refY="5"
                        markerUnits="strokeWidth" orient="auto">
                    <path d="M 0 0 L 10 5 L 0 10 z" fill="#000000"></path>
                </marker>
            </defs>
            <path class="stencil__selection-helper" d="M0, 0 L899 0" stroke-width="15" stroke="transparent"
                  fill="none" fill-rule="evenOdd"></path>
            <path d="M0, 0 L899 0" stroke-width="3" stroke="#000000" stroke-dasharray="none"
                  stroke-dashoffset="none" marker-start=" " marker-end=" " fill="none"
                  fill-rule="evenOdd"></path>
        </svg>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <div style="text-align: left">
                <h6>Мобильные приложения</h6>
            </div>
            <img style="height: 50px; width: 35%" src="https://images.moqups.com/repo/Zc5eWEcF/images/2s0vgCRq.png?Expires=1683349322&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=Z74ZqWpO2FmnrxEfB0XFAvofLCAnT1uBtvZrxiL4UAwJfrBQeIa7qV123pPH8AQrzBSFAEbdlHJhaWIo1o2q8~vwuhgX~gtCCETDjFbXLjOZNPliiYUscj1HkSXVjrm8iyjCUx1RFLeGRFb1KOMJomlOhC1gMo4TmV17adQIL79UICLa7RAp0fyMKnh2N2LTW3wRSGpxzIKkUrbWzE9iAEDDlt~PvUxaVw9BOkgfYkd2PELTIZleBZpcTLa-8wIeipcNT2LgEVnT1se0gyJR8E0tPah1cGcbCY0k9R6NHetcwMOWBHDNZS45CPWo2o538D2z8wIee6xnz34Ub~UYNw__">
            <img style="height: 50px; width: 35%" src="https://images.moqups.com/repo/Zc5eWEcF/images/FsJTIsON.png?Expires=1683349322&Key-Pair-Id=K1TPUF1X6HKIYU&Signature=ANmqTvrDzK44yYn0eq0~uIUyJthWAOZ7Sigr-RiuDCwHGVGcOmMl~quA6BPWaQ44w2pAFp0ZXp7tNTAUaZBpf2PNNKe1nkuWjiRxzRgSI~Lm3IWdONTgNQjZ~ZSW1IDMcGAs0kJsSMIYesdpsbRj-sMx~izBV7CVEHfcGU8RyEXc870hTHhlo7FZjUD9jNt7t646ptoLzrirqbiWi5YmP7q3aiXVPeeL9YWSbkoTMH3eSvKU9JJOW-Xuwf5xbdezOJRi~G4xV9ziC-oHUozYhHb6~SnGOOM56EEhmenbkkp93RD7SLXgRaje5Il~iiaNmPyLwYFYyNJnAjcGLXZOOg__">
            <div style="text-align: left; transform: scale(0.8)">
                <p>Разработка сайтов: AVADA-MEDIA</p>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="label-group">
                <h6>Афиша</h6>
                <ul class="list-inline" style="scale(0.5)">
                    <li><a href="/templates/public/schedule.html" style="text-decoration: none; color: black;">Расписание</a></li>
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Скоро в прокате</a></li>
                    <li><a href="/templates/public/cinemas.html" style="text-decoration: none; color: black;">Кинотеатры</a></li>
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Акции</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="label-group">
                <a href="/templates/public" style="text-decoration: none; color: black;"><h6>О кинотеатре</h6></a>
                <ul class="list-inline" style="scale(0.5)">
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Новости
                    </a></li>
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Реклама</a></li>
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Кафе-бар</a></li>
                    <li><a href="/templates/public" style="text-decoration: none; color: black;">Контакты</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <img src="https://images.moqups.com/repo/Zc5eWEcF/images/iuORBXNR.png?Expires=1683374263&amp;Key-Pair-Id=K1TPUF1X6HKIYU&amp;Signature=cHqkDOvkb2aqTN7B60RDF1P3On5hMhKaOY741T9zvtvMKNWlHA60LkM82oV2xPZUSJMLS-mq2u-MMaq3ZwRX33PALnp~45CuD7xuQ6aDNa2blDxgdReMEf5W6FhJWok9na~kT~FbvOGDQpgIYgrIXgBFd7QF6fX5u4X~h57rsMd8Hcq79vqseTys6zGFv983fBECKE2Ve2gGKP5tEKsBs0Zh5YlLpLHJ2Igaxnjd6bU8y7NtPc~vSG3AhoOf3tgSX99rqGHkPuDYIg0RbLNtJ9cYZxISl-oT5F9vCWOKEz5rgNbGsPsvE9i6q73fkUCfTAMRgaUWRGIn1TJTmTg46w__">
        </div>
    </div>
    <div style="text-align: center; transform: scale(0.8)">
        <p>©KinoCMS 2016, All rights reserved</p>
    </div>

</div>