<div th:fragment="search">
    <div class="row">
        <div class="col-lg-2">
            <img src="https://multiplex.ua/img/logo.svg" alt="Multiplex" title="Multiplex">
        </div>
        <div class="col-lg-3">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" style="background: blanchedalmond">Search</button>
            </form>
        </div>
        <div class="col-lg-4">
            <g transform="matrix(1 0 0 1 577 87)" class="stencil">
                <svg name="image" width="259" height="43" x="0" y="0" class="" style="opacity: 1">
                    <defs>
                        <clipPath id="cp_a3d2f4837-611c2e53">
                            <path d="M0 0 L259 0 C259 0 259 0 259 0 L259 43 C259 43 259 43 259 43 L0 43 C0 43 0 43 0 43 L0 0 C0 0 0 0 0 0 Z"></path>
                        </clipPath>
                    </defs>
                    <svg x="0" y="0" width="259" height="43" clip-path="url(#cp_a3d2f4837-611c2e53)"
                         style="overflow: hidden;">
                        <image x="0" y="0" height="43" width="259" preserveAspectRatio="none"
                               xlink:href="https://images.moqups.com/repo/Zc5eWEcF/images/SJdEGtjE.png?Expires=1683285345&amp;Key-Pair-Id=K1TPUF1X6HKIYU&amp;Signature=oPoVpT0oMPQUMgbS13-wJXUSToLvGM7Xg0Hnln33CiStAmyGFAzafa9ZZd61~krGSDLjWPnVAWJ1MmMWw1FMnsQ8hn~pROxsAnWoktA8A8wAqk~ICT~BVrHnoSQ9y0Fa-~v9IyIEmNuLF0R5Vzm84iRkiUl1anHiuKuk7pjIWIgo9QoNZe6BHAwcFy8N97kOSYyZSzz1iaRbYSu~-Gt02WQyTizBqFhdO~XiVR6SChJrWN~jkjrikjPoUnnYmGZFsnFbiIexymQsCTyBf2IMQaJxc3Jr0JwuVt9qZWnQn6i-WxUTEH6kftgdrl2s8e21DsWsgNTTOLsTVvvuVF-uig__"></image>
                    </svg>
                    <path d="M0 0 L259 0 C259 0 259 0 259 0 L259 43 C259 43 259 43 259 43 L0 43 C0 43 0 43 0 43 L0 0 C0 0 0 0 0 0 Z"
                          stroke-width="0" stroke="none" stroke-dasharray="none" fill="none"></path>
                </svg>
            </g>
        </div>
        <div class="col-lg-3">
            <!--            <div class="row">-->
            <!--                <div class="col-lg-12" >-->
            <h5 style="color: white; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;" th:text="${mainPage.getTelephone1()}">
                </h5>
            <h5 style="color: white;text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;" th:text="${mainPage.getTelephone2()}"></h5>
            <!--                </div>-->
            <!--                </div>-->
        </div>
    </div>
</div>
</div>