<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:insert="public/blocks/entryPanel :: entryPanel" style="padding-top:10px"></div>
<br>
<div th:insert="admin/blocks/sidebarMenu :: sidebarMenu"></div>
        <div class="card mx-auto col-sm-12 col-md-8 col-lg-6 text-center">
            <div th:each="us : ${user}">
                <form id="edit-user-form" method="POST">
                    <h1 th:text="'Редактировать пользователя id = ' + ${us.idUser}"></h1>
                    <div class="form-group">
                        <label for="log">log</label>
                        <input type="text" class="form-control" id="log" placeholder="Введите login"
                               th:value="${us.log}" name="log">
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="text" class="form-control" id="password"
                               placeholder="Введите пароль" th:value="${us.password}" name="password">
                    </div>
                    <div class="form-group">
                        <label for="inputEmail">Электронная почта</label>
                        <input type="text" class="form-control" id="inputEmail"
                               placeholder="Введите адрес электронной почты" th:value="${us.eMail}" name="email">
                    </div>
                    <div class="form-group">
                        <label for="inputName">Имя</label>
                        <input type="text" class="form-control" id="inputName"
                               placeholder="Имя" th:value="${us.name}" name="name">
                    </div>
                    <div class="form-group">
                        <label for="inputSurname">Фамилия</label>
                        <input type="text" class="form-control" id="inputSurname"
                               placeholder="Введите фамилию" th:value="${us.surname}" name="surname">
                    </div>
                    <div class="form-group">
                        <label for="inputTelephone">Телефон</label>
                        <input type="text" class="form-control" id="inputTelephone"
                               placeholder="Введите телефон" th:value="${us.telephone}"  name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="inputSurname">Пол</label>
                        <br>
                        <input type="radio" name="gender" value="true" th:checked="${us.gender==true}">
                        <label>woman</label>
                        <input type="radio" name="gender" value="false" th:checked="${us.gender==false}">
                        <label>man</label>
                    </div>
                    <div class="form-group">
                        <select name="city">
                            <option value="">Выберите город</option>
                            <option value="Киев">Киев</option>
                            <option value="Харьков">Харьков</option>
                            <option value="Одесса">Одесса</option>
                            <option value="Днепр">Днепр</option>
                            <option value="Львов">Львов</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="date" name="birthday" value="${#dates.format(us.birthday, 'yyyy-MM-dd')}">
                    </div>
                    <div class="form-group">
                        <label for="inputSurname">Адресс</label>
                        <input class="form-control" type="text" name="address" th:value="${us.address}">
                    </div>
                    <button type="submit" class="btn btn-primary" form="edit-user-form">Сохранить</button>
                </form>
            </div>
        </div>
</body>
</html>