<div th:fragment="sidebarMenu">
    <aside class="main-sidebar sidebar-dark-primary elevation-4" style="padding-top: 20px">
        <div class="sidebar">
            <!-- SidebarSearch Form -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">

                    <li class="nav-item">
                        <a th:href="@{/admin/}" class="nav-link">
                            <p>
                                Админка (Статистика)
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/banners}" class="nav-link">
                            <p>
                                Баннера/слайдеры
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/films}" class="nav-link">
                            <p>
                                Фильмы
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/cinemas}" class="nav-link">
                            <p>
                                Кинотеатры
                            </p>
                        </a>

                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/news}" class="nav-link">
                            <p>
                                Новости
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/stocks}" class="nav-link">
                            <p>
                                Акции
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/pages}" class="nav-link">
                            <p>
                                Страницы
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/users}" class="nav-link">
                            <p>
                                Пользователи
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/admin/mailSender}" class="nav-link">
                            <p>
                                Рассылка
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>

</div>