<!doctype html>
<html lang="en" xmlns:tm="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="public/blocks/entryPanel :: entryPanel" style="padding-top:10px"></div>
<div class="row">
    <div class="col-md-1">
        <!--        <div class="position-fixed top-0 start-0" style="height: 100vh;display: block">-->
        <!--            <div th:insert="blocks/dashboard :: dashboard" style="height: 100%;"></div>-->
        <!--        </div>-->
    </div>
    <div class="col-md-11">
        <div th:insert="public/blocks/search :: search" style="padding-top: 20px;"></div>
        <div th:insert="public/blocks/navigate :: navigate"></div>
    </div>
</div>
<img width="100%"height="395" th:src="@{${info.topBanner}}">


<div class="row" style="margin-top: 40px">
    <div class="col-md-2" style="padding-left: 20px">
        <g transform="matrix(1 0 0 1 9 615)" class="stencil">
            <svg width="184.35467980295567" height="289" x="0" y="0" class="" style="opacity: 1;">
                <defs></defs>
                <path d="M 0 0 L 184.35467980295567 0 184.35467980295567 289 0 289 0 0 M 0 0 L 184.35467980295567 289 M 0 289 L 184.35467980295567 0 Z"
                      stroke-width="2" stroke="#000000" stroke-dasharray="none" stroke-dashoffset="none" fill="#ffffff"
                      fill-rule="evenOdd"></path>
            </svg>
        </g>
        <br>
        <br>
        <h1 style="padding-top: 30px;padding-bottom: 30px" th:text="'Кличество сеансов: '+${sessions.size()}"></h1>
        <div class="form-group" role="group" th:each="us:${sessions}">
            <a th:href="@{/schedule/{id}(id=${us.id})}">
                <button type="button" class="btn btn-primary" th:text="'Сеанс '+${us.id}"></button>
            </a>
        </div>
    </div>
    <div class="col-md-10">
        <div style="padding-right: 30px">
            <h1 style="text-align: center" th:text="${info.name}"></h1>
            <p th:text="${info.description}">
            </p>
                <div style="text-align: center">
                    <h1 style="text-align: center"> Карта зала</h1>
                    <g transform="matrix(1 0 0 1 205 1002)" class="stencil">
                        <svg name="image" width="924.5585874799358" height="576" x="0" y="0" class=""
                             style="opacity: 1;">
                            <defs>
                                <clipPath id="cp_a001e5ddf-fd2a41c4">
                                    <path d="M0 0 L924.5585874799358 0 C924.5585874799358 0 924.5585874799358 0 924.5585874799358 0 L924.5585874799358 576 C924.5585874799358 576 924.5585874799358 576 924.5585874799358 576 L0 576 C0 576 0 576 0 576 L0 0 C0 0 0 0 0 0 Z"></path>
                                </clipPath>
                            </defs>
                            <svg x="0" y="0" width="924.5585874799358" height="576"
                                 clip-path="url(#cp_a001e5ddf-fd2a41c4)" style="overflow: hidden;">
                                <image x="0" y="0" height="576" width="924.5585874799358" preserveAspectRatio="none"
                                       xlink:href="https://images.moqups.com/repo/Zc5eWEcF/images/g5IEIwHV.gif?Expires=1687127849&amp;Key-Pair-Id=K1TPUF1X6HKIYU&amp;Signature=V~OEiuCE7DtQeXvdSzL4gbFgl1EQqgLHLJQuuugQX96ftCAfnCL1nf6nDUO5h3cC3UAE0zR9ecNUWl-PL1FmFjk44W7rg1K92kf7N6BfdMrQyaDPbP5y9TzWG6W8BOGVl3FirdTAuqNbW9VgivPXrjh2RsnjBLYN3qdtf7Q1LUdSDxGXgdHXW3aJpgULK5C4rLaAy4JWs5GbXi7RACk0wy1HaA3T9jVqNNv9hPSg5bX0JAg6KXAYDkpXi~3o-IF9~s5atN5S24qG15D0~v2PK90tapsi3F1A-J9OQsZiQ21KnVOpLG2uGjTepEjnnNbRvalfIcZwPGPdJOl47xxH5A__"></image>
                            </svg>
                            <path d="M0 0 L924.5585874799358 0 C924.5585874799358 0 924.5585874799358 0 924.5585874799358 0 L924.5585874799358 576 C924.5585874799358 576 924.5585874799358 576 924.5585874799358 576 L0 576 C0 576 0 576 0 576 L0 0 C0 0 0 0 0 0 Z"
                                  stroke-width="0" stroke="none" stroke-dasharray="none" fill="transparent"></path>
                            <path d="M0 0 L924.5585874799358 0 C924.5585874799358 0 924.5585874799358 0 924.5585874799358 0 L924.5585874799358 576 C924.5585874799358 576 924.5585874799358 576 924.5585874799358 576 L0 576 C0 576 0 576 0 576 L0 0 C0 0 0 0 0 0 Z"
                                  stroke-width="0" stroke="none" stroke-dasharray="none" fill="none"></path>
                        </svg>
                    </g>
                    <h1 style="padding-top: 30px">Фотогалерея</h1>
                    <div style="display: flex;margin: 0 auto; justify-content: center;width: 80%"
                         id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div th:each="us,i:${carouselItems}">
                                <div th:if="${i.index==0}">
                                    <div class="carousel-item active">
                                        <img th:src="@{${us}}" class="d-block w-100">
                                    </div>
                                </div>
                                <div th:unless="${i.index==0}">
                                    <div class="carousel-item">
                                        <img th:src="@{${us}}"
                                             class="d-block w-100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>


<div th:insert="public/blocks/endPage::endPage"></div>
</body>
</html>