<!DOCTYPE html>
<html lang="en">
<head>

    <title>Admin</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" rel="stylesheet">
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link th:href="@{/admin/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet">
    <link th:href="@{/admin/dist/css/adminlte.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet">
    <link th:href="@{/admin/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet">


</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:insert="admin/blocks/sidebarMenu :: sidebarMenu"></div>
    <div class="content-wrapper">
        <section class="content mx-auto" style=" width: 1000px;">
            <h1 style="text-align: center;"> Создание нового зала</h1>
            <form id="edit-publicMain-form" method="post"
                  enctype="multipart/form-data">
                <div class="row" style="padding-top: 40px">
                    <div class="col-lg-2">
                        <br>
                        <label for="nameHall">Название зала</label>
                        <br>
                        <label for="description">Описание</label>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <input id="nameHall" name="nameHall" th:value="${info.name}">
                        <br>
                        <textarea style="width: 100%; height: 400px" id="description" name="descriptionHall" th:text="${info.description}"></textarea>
                        <br>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <label>Схема зала</label>
                <br>
                <img th:src="${info.schemeHall}" width="140" height="100">
                <br>
                <br>
                <input type="file" name="schema_hall">
                <br>
                <label>Верхний банер</label>
                <br>
                <img th:src="${info.topBanner}" width="140" height="100">
                <br>
                <br>
                <input type="file" name="mainImagine">
                <br>

                <label> Галерея картинок</label>
                <br>
                <div class="row text-center">
                    <div class="col-lg-2">
                        <div th:if="${info.img1!=null}">
                            <img th:src="${info.img1}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img2!=null}">
                            <img th:src="${info.img2}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img3!=null}">
                            <img th:src="${info.img3}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img4!=null}">
                            <img th:src="${info.img4}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img5!=null}">
                            <img th:src="${info.img5}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-lg-2">
                        <label> Seo-блок</label>
                    </div>
                    <div class="col-lg-8">
                        <br>
                        <label>URL:</label>
                        <input style="width: 533px;height:23px" name="url"  th:value="${info.url}">
                        <br>
                        <label>Title:</label>
                        <input style="width: 533px;height:23px" name="title"  th:value="${info.title}">
                        <br>
                        <label>Keywords:</label>
                        <input style="width: 533px;height:23px" name="keywords"  th:value="${info.keywords}">
                        <br>
                        <label>Description:</label>
                        <textarea style="width: 533px;height:400px" name="descriptionSeo"  th:text="${info.descriptionSeo}"></textarea>
                        <br>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" form="edit-publicMain-form">Сохранить</button>
                </div>
            </form>


        </section>

    </div>
</div>

</body>
</html>