<!DOCTYPE html>
<html lang="en">
<head>

    <title>Admin</title>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../../plugins/jqvmap/jqvmap.min.css">
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:insert="admin/blocks/sidebarMenu :: sidebarMenu"></div>
    <div class="content-wrapper">
        <section class="content mx-auto" style=" width: 1000px;">
            <h1 style="text-align: center;"> Список фильмов текущих</h1>

            <form id="edit-publicMain-form" method="post"
                  enctype="multipart/form-data">
                <div class="row" style="padding-top: 40px">
                    <div class="col-lg-2">
                        <br>
                        <label for="nameCinema">Название кинотеатра</label>
                        <br>
                        <label for="description">Описание</label>
                        <br>
                        <label for="conditions">Условия</label>
                        <br>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <input id="nameCinema" name="nameCinema" th:value="${info.name}">
                        <br>
                        <textarea style="width: 100%; height: 400px" id="description" name="description" th:text="${info.description}"></textarea>
                        <br>
                        <textarea style="width: 100%; height: 400px; margin-top: 20px" id="conditions"
                                  name="conditions" th:text="${info.conditions}"></textarea>
                        <br>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <br>
                <label>Логотип</label>
                <br>
                <img th:src="${info.logoPath}" width="140" height="100">
                <br>
                <input type="file" name="logoPath">
                <br>
                <label>Фото верхнего баннера</label>
                <br>
                <img th:src="${info.topBannerPath}" width="140" height="190">
                <br>
                <input type="file" name="topBannerPath">
                <br>
                <label> Галерея картинок</label>
                <br>
                <div class="row text-center">
                    <div class="col-lg-2">
                        <div th:if="${info.img1!=null}">
                            <img th:src="${info.img1}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img2!=null}">
                            <img th:src="${info.img2}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img3!=null}">
                            <img th:src="${info.img3}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img4!=null}">
                            <img th:src="${info.img4}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                    <div class="col-lg-2">
                        <div th:if="${info.img5!=null}">
                            <img th:src="${info.img5}" width="140" height="100">
                        </div>
                        <br>
                        <input type="file" name="images[]" multiple>
                    </div>
                </div>
                <br>
                <br>
                <h1 style="text-align: center;"> Список Залов</h1>
                <table class="hall-table">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Дата создания</th>
                    </tr>
                    </thead>
                    <tbody th:if="${hallList != null}">
                    <tr th:each="hall : ${hallList}">
                        <td th:text="${hall.name}"></td>
                        <td th:text="${hall.date}"></td>
                        <td><a th:href="'/admin/cinemas/edit/'+${info.idCinema}+'/edit/'+${hall.idHall}" class="btn btn-warning">Edit</a></td>
                        <td><button class="btn btn-warning" name="deleteHall" th:value="${hall.idHall}">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
                <a th:href="@{/admin/cinemas/edit/{id}/newHall(id=${info.idCinema})}" class="btn btn-primary center-text">Добавить зал</a>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-2">
                        <label> Seo-блок</label>
                    </div>
                    <div class="col-lg-8">
                        <br>
                        <label>URL:</label>
                        <input style="width: 533px;height:23px" name="url" th:value="${info.url}">
                        <br>
                        <label>Title:</label>
                        <input style="width: 533px;height:23px" name="title"th:value="${info.title}">
                        <br>
                        <label>Keywords:</label>
                        <input style="width: 533px;height:23px" name="keywords" th:value="${info.keywords}">
                        <br>
                        <label>Description:</label>
                        <textarea style="width: 533px;height:400px" name="descriptionSeo" th:text="${info.descriptionSeo}"></textarea>
                        <br>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary" form="edit-publicMain-form">Сохранить
                    </button>
                </div>
            </form>


        </section>

    </div>
</div>

</body>